body{
    font-family: 'Poppins', sans-serif;
}
.first-heading{
    font-family: 'Luxurious Roman', cursive;
    font-size: 40px;
    margin-left: 5px;
}
.first-border{
    border-left: 5px solid;
    border-image: linear-gradient(black, orangered);
    border-image-slice: 1;
    margin: 4px;
}
.mission{
    color: orangered;
}
.part{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    margin: 5%;
}
.half-width img{
    width: 99%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, orangered);
    font-weight: 700;
    border-radius: 5px;
    padding: 7px 30px;
    color: white;
}
.orange{
    color: orange;
}
.second-heading{
    text-align: center;
}
.box{
    width: 25%;
    margin-left: 5%;
    box-sizing: content-box;
}
.box img{
    width: 30%;
}
#one{
    background-color: rgb(194, 235, 235);
    padding: 7px;
    border-radius: 10px;
}
#two{
    background-color: rgb(224, 117, 77);
    padding: 7px;
    border-radius: 10px;
}
#three{
    background-color: rgb(223, 119, 119);
    padding: 7px;
    border-radius: 10px;
}
